


.none {
  display: none !important;
}

.mini-heading {
  text-align: center;
  margin-top: 1rem;
}

.project-heading {

  text-align: center;
}

.skills-work-experience-background {
  background-color: rgba(40, 50, 62, 1.0);
  margin-top: -1.5rem;
}

.inside-projects {
  margin-left: 1.5rem;
  margin-right: 1.5rem
  margin-bottom: 1.5rem;
  text-align: center;

}

.about-me-contact {
  text-align: center;
  border-top: solid 1px black;
}

.central-area {
  position: relative;
}

.central-area-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.contact {
  text-align: center;
  border: 4px solid white;
  margin: auto;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: #3c3c3f;
  color: white;

}

.beginning-area {
  text-align: center;
  color: white;
  height: 92vh;

}

.my-butt {
  display: block;
  margin: auto;
  height: 50px;
  width: 150px;
  background-color: transparent !important;
  border: solid 2px white;
  border-radius: 15px;
  margin-top: 4rem;
}

.my-butt:hover {
  background-color: white !important;
  color: black;
}

.my-butt-2 {
  color: white;
  display: block;
  margin: auto;
  height: 50px;
  width: 150px;
  background-color: transparent !important;
  border: solid 2px white;
  border-radius: 15px;
  margin-top: 2rem;
  margin-bottom: 2rem;

}

.my-butt-2:hover {
  background-color: rgba(40, 50, 62, 1.0) !important;
  color: white;
}

.about-me {
  color: black;
  border: 4px solid #81d4fa;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: white;
}

.about-me-background {
  background-color: rgba(40, 50, 62, 1.0);
}

.skills {
  color: black;
  border: 4px solid #81d4fa;
  margin: auto;
  margin-top: 2rem;
  border-radius: 15px;
  background-color: white;
}

.projects {
  color: white;
  border: 4px solid white;
  margin: auto;
  margin-top: 1rem;
  border-radius: 15px;
  background-color: rgba(40, 50, 62, 1.0);
}

.education {
  border: 4px solid white;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: #3c3c3f;
  color: white;
}

.education-background {
  margin-top: -1.5rem;
}

.work-experience {
  border: 4px solid #81d4fa;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  background-color: white;
  color: black;
}

.strong-p {
  font-weight: bold;
  text-align: center;
}

.a-button {
  color: white;
}

p {
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 601px) {
  * {
    display: block;
    margin: auto;
  }

  h4, h5, h6 {
    text-align: center;
  }

  p {
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .pd {
    text-align: center;
    margin-left: 1.5rem;
  }
  .strong-p {
    text-align: center;
  }

  .central-area-inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, 1%);
  }

  .my-image {
    width: 100px;
    height: 105px;
  }
  .inside-projects {
    margin-left: 1.5rem;
    margin-right: 1.5rem
    margin-bottom: 1.5rem;
    text-align: center;

  }

  .mini-heading {
    margin-left: 0rem;
    text-align: center;
  }
}
